<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITULO -->
    <title>{%block title%}{%endblock%} | DETRAS DE LA OPINION</title>

    <!-- CDN -->
    <!-- BOOSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- ESTILOS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>
<body>
    <header>
        <div class="info-logo">
        </div>
        <ul>
            <li><a class="menu active" href="{{url_for('index')}}">Home</a></li>
            <li><a class="menu" href="{{url_for('post')}}">Noticias</a></li>
            <li><a class="menu" href="{{url_for('acerca_de')}}">Acerca De Nosotros</a></li>
            <li><a class="menu" href="{{url_for('contacto')}}">Contacto</a></li>
        </ul>
    </header>
    
<!-- =======================CONTENIDO CENTRAL======================================================================================= -->
    <main>
            {%block content%}
                 <!-- AQUI SE HEDERARA EL HTML DE CADA PAGINA -->
            {%endblock%}
    </main>


<!-- ============================Pie de pagina======================================================================================= -->
    <footer>
        <div class="subscribe-form">
            <form novalidate='true' id="email-form">
                <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                <input type="submit" class="enviar" name="subscribe" value="Subscribe">
                <label for="mc-email" class="subscribe-message"></label>
            </form>
        </div>
        <!-- <div>
            <div class="info">
                <h2>DETRAS DE LA OPINION</h2>
                <p>siguenos en nuestras redes redes sociales..</p>
            </div>
            <div class="redes-sociales">
                <a href="https://paypal.me/detrasdelaopinion" target="_blank"><i class="fab fa-cc-paypal" style="color: blue;width: 30px;"></i></i></a>
                <a href="https://www.instagram.com/detrasdelaopinion/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCtTL4Vtltlo_pL1UhuwYg6w"><i class="fab fa-youtube"></i></a>
            </div>
            <hr>
            <p class="copyright"> Detrás de la opinión &copy; {{fecha_footer}}. Todos los derechos reservados </p>
        </div> -->
    </footer>





<!-- =============================JavaScript=========================================================================================== -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
<script src="{{url_for('static',filename='js/ajax.js')}}"></script>
</body>
</html>